django
django-allauth
requests
oauth2
termcolor
simplejson
python-dateutil
Pillow>=4.0.0
gunicorn

# celery
celery>=4.1
django-celery-results
sqlalchemy>=1.1.15

eventlet    # for celery worker on window. $celery -A <mymodule> worker -l info -P eventlet