{% load i18n staticfiles customer_tags %}
{# Campaign Battles table #}
{# Vars:  battle: (Battle Model object. Current battle) #}
{#        chart_data: chart data dict. activity type ("like", "repost", "comment" ...) as key, each for an activity. #}
{#                    sub-dict uses "lables" and "data" as key, values are "axis-y lables" and data.     #}
{#        activitytypes (ActivityType model class) #}
{#        small (bool, optional. default False. Small size control and text.) #}

        <!-- Battle Chart BEGIN -->
        {% if battle %}
        <div style="height:400px;" class="row">
            {% for t, meta in activitytypes.Metas.items %}
            <div class="col-lg-4">
                <canvas id="chart_{{ t }}"></canvas>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <script src="{% static 'weinsta/js/Chart.min.js' %}"></script>
        <script language="JavaScript">

            function draw_chart(canvas_id, title, labels, data) {
                var ctx = document.getElementById(canvas_id).getContext('2d');
                var chart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: labels, //["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                        datasets: [{
                            label: title, // '# of Votes',
                            data: data, // [12, 19, 3, 5, 2, 3],
                            backgroundColor: [
    {#                            'rgba(255, 99, 132, 0.2)',#}
    {#                            'rgba(54, 162, 235, 0.2)',#}
    {#                            'rgba(255, 206, 86, 0.2)',#}
    {#                            'rgba(75, 192, 192, 0.2)',#}
    {#                            'rgba(153, 102, 255, 0.2)',#}
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
    {#                            'rgba(255,99,132,1)',#}
    {#                            'rgba(54, 162, 235, 1)',#}
    {#                            'rgba(255, 206, 86, 1)',#}
    {#                            'rgba(75, 192, 192, 1)',#}
    {#                            'rgba(153, 102, 255, 1)',#}
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            }

            {% if battle %}
            $(document).ready(function(){
                var chart_data = {{ chart_data |safe }};
                {% for t, meta in activitytypes.Metas.items %}
                    draw_chart("chart_{{ t }}", "{{ t }}", chart_data["{{ t }}"]["labels"], chart_data["{{ t }}"]["data"]);
                {% endfor %}
            });
            {% endif %}

        </script>
        <!-- Battle Chart END -->
