{% load i18n staticfiles customer_tags %}
{# Campaign Battles table #}
{# Vars:  campaign (Campaign Model object. Current Campaign) #}
{#        battle: (Battle Model object. Current battle) #}
{#        activitytypes ( #}
{#        small (bool, optional. default False. Small size control and text.) #}

        <!-- Battles -->
        {% if campaign %}{% with camp=campaign battles=campaign.battles %}
            <table class="table table-responsive table-striped table-sm table-hover table-bordered mt-2 {% if small %}small{% endif %}">
                <thead>
                <tr>
                    <th colspan="7" class="text-center">{% trans "Battles channels for Campaign" %} - {{ camp.name }}</th>
                </tr>
                <tr>
                    <th class="d-md-table-cell d-none">#</th>
                    <th>Provider</th>
                    <th>Started</th>
                    <th>Finished</th>
                    <th colspan="{{ activitytypes.Metas|length }}" class="text-center">Activities</th>
                </tr>
                </thead>
                <tbody>
                {% for btl in battles.all %}
                <tr id="id_row_{{ btl.id }}" {% if btl.id == battle.id %}class="table-warning"{% endif %}>
                    <th scope="row" class="d-md-table-cell d-none">{{ btl.id }}</th>
                    <td><a href="{% url 'campaign' id=camp.id action='battle' battle_id=btl.id %}"><i class="{% call_with_func_and_args providers 'get_icon' btl.provider %}"></i> {{ btl.provider }}</a></td>
                    <td>{{ btl.started }}</td>
                    <td>{{ btl.finished }}</td>
                    {% for activity in btl.latest_activities %}
                    <td>
                        <i class="{% call_with_func_and_args activitytypes 'get_icon' activity.type %}"></i> {% call_with_func_and_args activitytypes 'get_text' activity.type %}
                        {{ activity.count }}
                    </td>
                    {% endfor %}
                </tr>

                {% endfor %}

                </tbody>
            </table>
        {% endwith %}{% endif %}

        <!-- battles END -->

