{% load i18n staticfiles %}
{# Media card (normal size) #}
{# Vars:  tab (selected tab) #}
{#        tabnames (dict of { tab: tab-name }) #}

    <!-- tabs -->
    <div id="id_tabs" class="row pl-1 mb-2">
        <ul class="nav nav-tabs">
        {% for idx, name in tabs.items %}
        <li class="nav-item">
            <a class="nav-link {% if tab == idx %}active{% endif %}" data-tab="{{ idx }}" href="#">{% trans name %}</a>
        </li>
        {% endfor %}

        <form id="id_form_tabs" class="form-inline">
            <input type="hidden" name="tab" value="{{ tab }}">
        </form>
        </ul>
    </div>

    <script language="javascript">
        $(document).ready(function(){
            var tabs = $("#id_tabs");
            var fm = $("#id_form_tabs");
            tabs.find(".nav-link").on('click', function(e){
                var tab = $(this).data("tab");
                fm.find("input[name='tab']").val(tab);
                fm.submit();
            });
        });
    </script>
    <!-- tabs end -->
