{% load i18n %}
    {# ----- top nav bar ----- #}

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">{{ website.name }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if request.path == '/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'index' %}">{% trans "Home" %} <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {% if request.path == '/media/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'media' %}">{% trans "Media" %}</a>
                </li>
                <li class="nav-item {% if request.path == '/author/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'author' %}">{% trans "Author" %}</a>
                </li>
                <li class="nav-item {% if request.path == '/insta/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'insta' %}">{% trans "Instagram" %}</a>
                </li>
                <li class="nav-item {% if request.path == '/twitter/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'twitter' %}">{% trans "Twitter" %}</a>
                </li>
{#                <li class="nav-item">#}
{#                    <a class="nav-link disabled" href="#">Disabled</a>#}
{#                </li>#}

            </ul>


{#            <form class="d-md-none d-lg-block form-inline mt-2 mt-md-0">#}
{#                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">#}
{#                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
{#            </form>#}

            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                {% if request.user.is_authenticated %}
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ request.user.username }}
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'account_logout' %}"><i class="glyphicon glyphicon-log-in small"></i> {% trans 'Logout' %}</a>
                        <a class="dropdown-item" href="{% url 'account_set_password' %}">{% trans 'Change password' %}</a>
                        <a class="dropdown-divider"></a>
                        {% if request.user.is_staff %}
                        <a class="dropdown-item" href="/admin" target="_blank">{% trans 'Admin' %} <i class="glyphicon glyphicon-new-window small"></i></a>
                        {% endif %}
                        <a class="dropdown-item" href="{% url 'socialaccount_connections' %}">{% trans 'Connect social accounts' %}</a>
                        <a class="dropdown-item" href="{% url 'account_email' %}">{% trans 'Manage emails' %}</a>
                    </div>

                {% else %}

                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% trans 'Sign in/up' %}
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'account_login' %}?next={{request.path}}"><i class="glyphicon glyphicon-log-in small"></i> {% trans 'Sign in' %}</a>
                        <a class="dropdown-item" href="{% url 'account_signup' %}">{% trans 'Sign up' %}</a>
                        <a class="dropdown-divider"></a>
                        <a class="dropdown-item" href="{% url 'account_reset_password' %}">{% trans 'Forget password' %}</a>
                    </div>
                {% endif %}
                </li>

            </ul>

        </div>
    </nav>

    {# ----- END of top nav bar ----- #}