{% load i18n staticfiles %}
{# Campaign form controlls #}
{# Vars:  campaign (Campaign Model object) #}
{#        target_form (form id selector string. e.g. "#id_my_form") #}
{#        small (bool, optional. default False. Small size control and text.) #}
{#        ro (bool, optional, default False. Whether form is readonly. #}
{# Names: camp_name, camp_provider (checkbox), camp_text, camp_begin, camp_end, camp_me #}

            <!-- campaign editor form -->
            {% if campaign %}{% with camp=campaign %}

                <div id="id_campaign_detail" class="form-horizontal form-label-left {% if small %}small{% endif %}">

                    <!-- name/title -->
                    <div class="form-group">
                        <label for="id_camp_name" class="control-label col-md-3 col-sm-3 col-xs-12">Campaign Name <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="id_camp_name" name="camp_name" type="text" {% if ro %}readonly{% endif %}
                                   class="col-md-7 col-xs-12 form-control {% if small %}form-control-sm{% endif %}" required="required"
                                   value="{{ camp.name }}" placeholder="e.g. Christmas big sale">
                        </div>
                    </div>


                    <!-- providers -->
                    <div class="form-group">
                        <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Publish to </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                        {% with sel_providers=camp.get_providers %}
                        {% for provider, meta in providers.Metas.items %}
                        {% if meta.3 %} {# meta.3 (bool) - means if support to post status on this provider #}
                            <div class="checkbox">
                                <label>
                                    <input name="camp_provider" type="checkbox" class="flat" value="{{ provider }}"
                                           {% if provider in sel_providers %}checked{% endif %}>
                                    <i class="{{ meta.2 }}"></i> {{ meta.1 }}
                                </label>
                            </div>
                        {% endif %}
                        {% endfor %}
                        {% endwith %}
                        </div>
                    </div>


                    <!-- text -->
                    <div class="form-group">
                        <label for="id_camp_text" class="control-label col-md-3 col-sm-3 col-xs-12">Campaign Text </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <textarea id="id_camp_text" name="camp_text" rows="5" {% if ro %}readonly{% endif %}
                                      class="form-control {% if small %}form-control-sm{% endif %}"
                                      data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="100"
                                      data-parsley-minlength-message="{% trans "You need to enter at least a 20 caracters long comment." %}."
                                      data-parsley-validation-threshold="10"
                                  placeholder="e.g. Get latest iPhone with 50% discount.
        Only 3 days at http://bdgru.com.
        Follow @bdgru on twitter.">{{ camp.text|default_if_none:'' }}</textarea>
                            <small class="form-text text-muted"><span id="id_camp_txt_cnt">0</span>
                                ({% trans "Count of chars. Limited on some channels." %})
                                <a href="#"><i class="fa fa-question-circle"></i> help</a></small>
                        </div>
                    </div>

                    <!-- Begin/End datetime -->
                    {# TODO: verify the datetime timezone #}
{#                    <div class="form-group row">#}
{#                        <div class="col-sm">#}
{#                            <label for="id_camp_begin" class="col-form-label">{% trans "Begin at" %}:</label>#}
{#                            <input id="id_camp_begin" name="camp_begin" type="datetime-local"#}
{#                                   value="{{ camp.begin|date:'Y-m-d\TH:i:s' }}" {% if ro %}readonly{% endif %}#}
{#                                   class="form-control {% if small %}form-control-sm{% endif %}">#}
{#                        </div>#}
{#                        <div class="col-sm">#}
{#                            <label for="id_camp_end" class="col-form-label">{% trans "End by" %}:</label>#}
{#                            <input id="id_camp_end" name="camp_end" type="datetime-local"#}
{#                                   value="{{ camp.end|date:'Y-m-d\TH:i:s' }}" {% if ro %}readonly{% endif %}#}
{#                                   class="form-control {% if small %}form-control-sm{% endif %}">#}
{#                        </div>#}
{#                    </div>#}

                <div class="form-group">
                  <label for="id_camp_duration" class="control-label col-md-3 col-sm-3 col-xs-12">{% trans "Duration" %} </label>
                    <fieldset class="col-md-6 col-sm-6 col-xs-12">
                      <div class="control-group">
                        <div class="controls">
                          <div class="input-prepend input-group">
                            <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                            <input id="id_camp_duration" type="text" name="camp_duration"
                                   class="form-control" value="{{ camp.begin|date:'m/d/Y H:i' }} - {{ camp.end|date:'m/d/Y H:i' }}" />
                          </div>
                        </div>
                      </div>
                    </fieldset>
                </div>

                    <!-- medias -->
                    <div class="form-group">
                        <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Selected medias:</label>

                        <div class="control-group col-md-8 col-sm-8 col-xs-12">
                            <div id="id_camp_selected_medias" class="row">
                                {% for media in camp.medias.all %}
                                    <div class="col col-sm-2">
                                    {% include './media-card.html' with sel=True media=media mediatypes=mediatypes sel_medias=camp.medias.all %}
                                    </div>
                                {% endfor %}
                            </div>
                            <small class="form-text text-muted"> ({% trans "Weibo: MUST 1 media. Twitter: Max 9 medias." %})
                            <a href="#"><i class="fa fa-question-circle"></i> help</a></small>
                            {% if not ro %}<br>
                            {% include './media-selection.html' with target_box="#id_camp_selected_medias" sel_medias=camp.medias.all %}
                            {% endif %}
                        </div>
                    </div>

                    {% if not ro %}
                    <div class="text-center" role="group" aria-label="Form">
{#                            <button id="id_btn_del" class="btn btn-outline-primary" type="submit"#}
{#                                    onclick="$('{{ target_form }}').attr('action','{% url 'dash_campaign' id=camp.id action='del' %}').attr('onsubmit', 'return confirm(\'{% trans "Sure to delete" %} {{ camp }}? \');');">#}
{#                                <i class="fa fa-remove text-danger"></i> {% trans "Delete" %}</button>#}
                        <button type="reset" class="btn btn-primary"><i
                                class="fa fa-undo"></i> {% trans "Reset" %}</button>
                        {% if camp.status < campaignstatus.READY %}
                            <button onclick="$('{{ target_form }}').attr('action','{% url 'dash_campaign' id=camp.id action='update' %}');"
                                    type="submit" class="btn btn-primary"><i
                                    class="fa fa-save"></i> {% trans "Save" %}</button>
                        {% else %}
                            <button class="btn btn-outline-primary" disabled>{% trans "Can not Save if READY or STARTED." %}</button>
                        {% endif %}
                    </div>
                    {% endif %}

                </div>


                <script language="JavaScript">

                    function init_daterangepicker_reservation() {

                        if (typeof($.fn.daterangepicker) === 'undefined') {
                            return;
                        }
                        console.log('init_daterangepicker_reservation');

{#                        $('#reservation').daterangepicker(null, function (start, end, label) {#}
{#                            console.log(start.toISOString(), end.toISOString(), label);#}
{#                        });#}

                        $('#id_camp_duration').daterangepicker({
                            timePicker: true,
                            timePicker24Hour: true,
                            timePickerIncrement: 10,
                            showCustomRangeLabel: false,
                            dateLimit: {
                                days: 100
                            },
                            locale: {
                                format: 'MM/DD/YYYY HH:mm'
                            },
                            ranges: {
                                //'最近1小时': [moment().subtract('hours',1), moment()],
                                "{% trans "today" %}": [moment().startOf('day'), moment()],
                                "{% trans "yesterday" %}": [moment().subtract('days', 1).startOf('day'), moment().subtract('days', 1).endOf('day')],
                                "{% trans "last 7 days" %}": [moment().subtract('days', 6), moment()],
                                "{% trans "last 30 days" %}": [moment().subtract('days', 29), moment()],
                                "{% trans "this month" %}": [moment().startOf("month"), moment().endOf("month")],
                                "{% trans "last month" %}": [moment().subtract(1, "month").startOf("month"), moment().subtract(1, "month").endOf("month")]
                            },
                        });

                    }
                    $(document).ready(function(){
                        var id_camp_txt_cnt = $("#id_camp_txt_cnt");
                        $("#id_camp_text").keydown(function(e){
                            id_camp_txt_cnt.text($(this).val().length);
                        });

                        init_daterangepicker_reservation();
                    });
                </script>
            {% endwith %}{% endif %}
            <!-- Campaign editor form END -->