{% load i18n staticfiles %}
{# Author card image viewer #}
{# Tag attributes: #}
{#              data-toggle: must be "photo" #}
{#              data-url: the link to the photo #}
{#              data-title: the display title #}
{# e.g. <img src="{% static 'gentelella//small.png' %}" data-toggle="photo" data-url="{% static 'gentelella//large.png' %}" data-title="sample"> #}

    {# ----- Author Card Image Viewer ----- #}
    <div class="modal fade" id="id_photo_large" tabindex="-1" role="dialog" aria-labelledby="id_photo_view_title"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="container-fluid">
                <div class="row">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="id_photo_view_title">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img class="col-12" src="">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            {#        <button type="button" class="btn btn-primary">Save changes</button>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script language="JavaScript">

        $(function(){
            $('[data-toggle="photo"]').click(function () {
                var url = $(this).data('url');
                var title = $(this).data('title');
                var photo_modal = $("#id_photo_large");
                photo_modal.find('.modal-body').find('img').attr('src', url);
                photo_modal.find('.modal-title').text(title);
                photo_modal.modal({});
            });
        });

    </script>
    {# ----- Author Card Image Viewer End ----- #}
