{% extends "base.html" %}{% load staticfiles i18n %}

{% block head_title %}{% trans "Author" %} - {% endblock %}

{% block extra_head %}
{% endblock %}

{% block content %}

    <div class="container align-left">

        <form class="form-inline mt-2 mt-md-0" method="get">
{#            {% csrf_token %}#}
            <div class="form-check form-control-sm">
                <label class="form-check-label mr-sm-2">
                    <input class="form-check" type="checkbox" name="artist" {% if filters.artist %}checked{% endif %}>
                    artist
                </label>
                <label class="form-check-label mr-sm-2">
                    <input class="form-check" type="checkbox" name="publisher" {% if filters.publisher %}checked{% endif %}>
                    publisher
                </label>
                <label class="form-check-label mr-sm-2">
                    <input class="form-check" type="checkbox" name="user" {% if filters.user %}checked{% endif %}>
                    user
                </label>
            </div>
            <input name="query" class="form-control form-control-sm mr-sm-2" type="text" placeholder="Name, Bio"
                   value="{{ filters.query }}" aria-label="Search">
            <button class="btn btn-outline-success btn-sm my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>

    <div class="row mt-2 pl-1">
    {% for author in authors %}
        {% include 'weinsta/includes/author-card.html' %}
    {% endfor %}
    </div>

    {% include 'weinsta/includes/photo-viewer.html' %}


{% endblock %}
