{% extends "base.html" %}{% load staticfiles i18n %}

{% block head_title %}{% trans "Twitter" %} - {% endblock %}

{% block extra_head %}
{% endblock %}

{% block content %}


    <!-- tabs -->
    <div id="id_tabs" class="row pl-1 mb-2">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link {% if tab == '1' %}active{% endif %}" data-tab="1" href="#">Favorites</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if tab == '2' %}active{% endif %}" data-tab="2" href="#">Tags</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if tab == '3' %}active{% endif %}" data-tab="3" href="#">Locations</a>
            </li>
        </ul>
    </div>
    <!-- tabs end -->

    <form id="id_form" class="form-inline">
{#        {% csrf_token %}#}
        <input type="hidden" name="tab" value="{{ tab }}">

        <!-- favorites -->
        {% if tab == "1" %}
        {% endif %}
        <!-- favorites end -->

        <!-- tags -->
        {% if tab == "2" %}
            <div class="form-group">
                <input name="tag" class="form-control form-control-sm mr-sm-2" type="text" placeholder="tag without #"
                       value="" aria-label="Search">
                <button id="id_btn_tags" class="btn btn-outline-success btn-sm my-2 my-sm-0" type="submit">Search</button>
            </div>
        {% endif %}
        <!-- tags end -->
    </form>

        <!-- locations -->{{ location }}
        {% if tab == "3" %}
            <div class="form-group form-inline">
                <input id="id_location" name="location" class="form-control form-control-sm mr-sm-2" type="text" placeholder="e.g. Yosemite"
                       value="{{ location }}" aria-label="Search">
                <button id="id_btn_location" class="btn btn-outline-success btn-sm my-2 my-sm-0" type="button">Search</button>
            </div>
            <div class="carousel ">
            {% include 'weinsta/includes/google-map.html' %}
            </div>
        {% endif %}        <!-- locations end -->



    <!-- medias -->
{#    <div id="id_medias" class="row pl-1 mt-2">#}
{#    {% for m in medias %}#}
{#        {% if m.entities.media %}#}
{#        <div class="col-lg-3">#}
{#            <div class="card mr-2" style="width: 12rem;" >#}
{#                {% if m.entities.media %}<img class="card-img-top" src="{{ m.entities.media.0.media_url }}" >{% endif %}#}
{##}
{#                <div class="card-body small">#}
{#                    <h6 class="card-title" title="{% trans "Media Owner" %}" data-toggle="tooltip">#}
{#                        <img class=" rounded-circle mr-1" style="width: 1.3rem; height: 1.3rem"#}
{#                         src="{{ m.user.profile_image_url }}">#}
{#                        {{ m.user.name|default_if_none:'Unknown' }} <i class="fa fa-twitter"></i>#}
{#                    </h6>#}
{##}
{#                    <p class="card-text">{{ m.text|default_if_none:'&nbsp;' }}</p>#}
{#                    <a href="http://twitter.com/{{ m.user.screen_name }}/status/{{ m.id }}" title="{% trans "View on" %} {% trans "Twitter" %}"#}
{#                       target="_blank" data-toggle="tooltip" class="btn btn-primary btn-sm">#}
{#                        <i class="fa fa-twitter"></i> {% trans "View" %}</a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        {% endif %}#}
{#    {% endfor %}#}
{#    </div>#}

    <div id="id_medias" class="row pl-1 mt-2">
    {% for m in medias %}
        {% with media=m.media %}
        {% include 'weinsta/includes/media-card.html' %}
        {% endwith %}
    {% endfor %}
    </div>
    <!-- media ends -->

{% endblock %}

{% block script %}
    <script language="JavaScript">
        var medias = {{ medias }};
        $(document).ready(function(){
            var tabs = $("#id_tabs");
            var fm = $("#id_form");
            tabs.find(".nav-link").on('click', function(e){
                var tab = $(this).data("tab");
                fm.find("input[name='tab']").val(tab);
                fm.submit();
            });
            $("#id_location").keydown(function(e){
                if (e.keyCode == 13)
                    $("#id_btn_location").click();
            });
            alert(medias[0]);
        });

        function add_twitter_media(media_obj){
            var m = media_obj;
            var tmpl = heredoc(function(){/*!!!
                    <div class="card small mr-2" style="width: {8}rem;" title="{1} - @{3}" data-toggle="tooltip">
                        {6}<img class="card-img-top" src="{0}" alt="{1}">{7}
                                                <div class="bottom-right">@{3}</div>

{#                        <div class="card-body small">#}
{#                            <h6 class="card-title" title="{% trans "Media Owner" %}" data-toggle="tooltip">#}
{#                                <img class=" rounded-circle mr-1" style="width: 1.3rem; height: 1.3rem"#}
{#                                 src="{2}">#}
{#                                {3} <i class="fa fa-instagram"></i>#}
{#                            </h6>#}

{#                            <p class="card-text">{4}</p>#}
{#                            <a href="{5}" title="{% trans "View on" %} Instagram"#}
{#                               target="_blank" data-toggle="tooltip" class="btn btn-primary btn-sm">#}
{#                                <i class="fa fa-instagram"></i> {% trans "View" %}</a>#}
{#                        </div>#}
                     </div>
             */});
            var url = m.media ? m.media.url:'' ;
            var text = m.text;
            var owner = m.user.screen_name; //m.user.full_name ? m.user.full_name : m.user.username;
            var owner_pic = m.user.profile_image_url;
            var link = m.source;
            var video_a = m.media ? m.media.type == 'video' ? '<a href="#" class="video">': '' : '';
            var video_a_close = m.type == m.media ? m.media.type == 'video' ? '</a">': '' : '';

            var html = tmpl.f(url, text, owner_pic, owner, text, link, video_a, video_a_close, '7');
            $("#id_medias").append(html);
        }

    </script>
{% endblock %}