{% load i18n staticfiles model_tags %}
{# Media card (normal size) #}
{# Vars:  media (Media model object) #}
{#        mediatypes (MediaTypes class) #}
{#        sel (bool. if display for selections) #}
{#        sel_medias (list of selected medias. only available shen sel=True. #}
{#        sel_media_ids (list of selected media ids (int) . only available shen sel=True. #}
{#              sel_medias OR sel_media_ids only need 1. #}


        {# ----- Author Card (normal size) ----- #}
        {% if sel %}
        <div class="">
        {% else %}
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
        {% endif %}
            <div class="card mr-1 mt-1" name="sel_media" {# style="width: 12rem;" #}>
                <a href="#" class=" {% if media.type == mediatypes.VIDEO %}video{% endif %}"
                        {% if sel %}onclick="$(this).next().find('input').click();"{% endif %}>
                    <img class="card-img-top {% if media.type == mediatypes.VIDEO %}video{% endif %}"
                     {% if sel %}style="width: 7rem"{% endif %}
                     src="{{ media.get_thumb_url }}" alt="{{ media.text|default_if_none:'' }}">
                </a>

                {% if sel %}
                <div class="card-text small top-left-t">
                    <label class="custom-control custom-checkbox ml-2 mt-2">
                        <input name="sel_media" type="checkbox" class="custom-control-input"
                               {% if media in sel_medias or media.id in sel_media_ids %}checked{% endif %} value="{{ media.id }}">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description"></span>
                    </label>
                </div>
                {% endif %}

                {% if not sel %}
                <div class="card-body small">
                    <h6 class="card-title" title="{% trans "Media Owner" %}" data-toggle="tooltip">
                        <img class="rounded-circle mr-1" src="{{ media.owner.get_pic_url }}"
                                style="width: 1.3rem; height: 1.3rem">
                        {{ media.owner|default_if_none:'Unknown' }} <i class="fa fa-{{ media.owner.provider }}"></i>
                    </h6>
                    {% if media.author and media.author != media.owner %}
                    <p class="card-text" data-toggle="tooltip"
                       title="{% trans "Media Author (display only if owner is probably not the author)" %}">
                        <img class="rounded-circle mr-1" style="width: 1rem; height: 1rem"
                         src="{{ media.author.get_pic_url }}">
                        {{ media.author}} <i class="fa fa-{{ media.author.provider }}"></i>
                    {% endif %}

                    <p class="card-text" title="{% trans "Mentioned/related people in media" %}" data-toggle="tooltip">
                        {% for u in media.mentions.all %}
                        <img class="rounded-circle mr-1" style="width: 1rem; height: 1rem"
                             title="{{ u.username }}" src="{{ u.get_pic_url }}">
                        {% endfor %}
                    </p>

                    <p class="card-text">{{ media.text|default_if_none:'&nbsp;' }}</p>
                    <a href="{{ media.rlink }}" title="{% trans "View on" %} {{ media.provider|capfirst }}"
                       target="_blank" data-toggle="tooltip" class="btn btn-outline-primary btn-sm">
                        <i class="fa fa-{{ media.provider }}"></i> {% trans "View" %}</a>

                    {% if media.owner|is_linked_to:request.user %}
                    <a href="{% url 'pub' media.id %}" title="{% trans "Publish to ..." %}"
                       target="_blank" data-toggle="tooltip" class="btn btn-outline-primary btn-sm">
                        <i class="fa fa-share-alt"></i> {% trans "Publish" %}</a>
                    {% endif %}
                </div>
                {% endif %}

            </div>
        </div>
