                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false">DEBUG <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url 'test' %}">test</a></li>
                                <li><a href="{% url 'test' 1 %}">test 1</a></li>
                                <li class="divider"></li>
                                <li><a href="{% url 'test' %}?signin=twido@localhost">Admin</a></li>
                                <li><a href="{% url 'test' %}?signin=me@samuelchen.net">Samuel</a></li>
                                <li><a href="{% url 'test' %}?signin=t@mwl2.com">mwl2</a></li>
                                <li><a href="{% url 'test' %}?signin=mike@getdocker.com">mike</a></li>
                                <li><a href="{% url 'test' %}?signin=jack@getdocker.com">jack</a></li>
                                <li><a href="{% url 'test' %}?signin=rose@mwl2.com">rose</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
